.sidebarcontainer{
   min-height: 621px;
}
.app-container{
    display: flex;

}
.content{
  width:100%;
}
.post-card{
margin: 20px 50px;
min-width: 400px;
}
.card-title{
    font-size: 1.5rem;
}
.tags-post{
    margin:4px 4px 0px 4px;
}
.reactions-post{
    margin: 10px 10px;padding: 2px;
}
.createpost{
    width: 60%;
    margin-left: 10%;
    margin-top: 50px;
}